/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-create-block-guten-test {
	background-color: #e1e1e1;
	color: #ab0000;
	padding: 2px;
}
